<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:padding="16dp">
    <TextView
        android:id="@+id/txtSendMsgTitle"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_centerInParent="true"
        android:gravity="center"
        android:text="Send Message"
        android:textSize="30sp"
        android:textColor="#333333"
        android:layout_marginTop="70dp"
        android:layout_gravity="top" />
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical"
        android:layout_gravity="center">
        <android.support.design.widget.TextInputLayout
            android:id="@+id/txtSendMsgContent"
            android:layout_width="match_parent"
            android:layout_height="wrap_content">
            <android.support.design.widget.TextInputEditText
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:hint="Type Message...." />
        </android.support.design.widget.TextInputLayout>
        <Button
            android:id="@+id/btnSend"
            android:layout_marginTop="10dp"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="Send Message" />
        <Button
            android:id="@+id/btnSendMsgCancel"
            android:layout_marginTop="10dp"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="Go to main" />
    </LinearLayout>
</FrameLayout>